@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: netflix;
    src: url(fonts/NetflixSans_W_Md.woff2) format(woff2);
}



body{
    font-family: netflix;
    color: white;
}

.main{
    height: 650px;
    background: url(imagens/bg.jpg) center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main h1{
    font-size: 64px;
    max-width: 510px;
    text-align: center
    ;
}
.gradient{
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}   



